@font-face {
    font-family: "workSans";
    src: url('/resources/Work_Sans/WorkSans-VariableFont_wght.ttf');
}

body{
    max-width: 414px;
    height: auto;
    font-family: 'workSans', sans-serif;
    color: #5b5c62;
    font-size: 1.25rem;
}

header {
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

.header-items{
    margin: 0 24px;
}

#container2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #D9DBE2;
    padding-bottom: 32px;

}

#cont2-img{
    width: 100%;
    height: auto;
}

.cont2-h1{
    margin: 32px 16px;
}
.cont2-p {
    margin: 32px 16px 24px 16px;
}

#flex-cont2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cont2-button {
    display: flex;
    width: 90%;
    text-align: center;
    background-color: #5b5c62;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20.7px;
}

#cont2-button a {
    color: white;
    text-decoration: none;
}

.information img{
    max-width: 90%;
    margin: 16px;

}

.information{
    box-sizing: border-box;
}

.text{
    margin: 0 16px 64px 32px;
}

.text a {
    text-decoration: none;
    color: blue;
}

#Startlearning{
    padding-bottom: 32px;
}

#Startlearning h1{
    text-align: center;
    margin-bottom: 0 0 16px 0;
    padding-top: 32px;
}

.learning-nav{
    max-width: 80%;
    margin-bottom: 8px;
    background-color: #D9DBE2;
    position: relative;
    left: 10%;

}

.learning-nav h3{
    padding: 16px 16px 24px 16px;
}

.thesisExhibit{
    width: 100%;
}

#thesisExhibit h1{
    text-align: center;
    margin-top: 32px;
    padding-bottom: 16px;
}

#video{
    width: 100%;
    margin-bottom: 16px;
}

footer{
    text-align: center;
}

footer p {
    margin-top: 16px;
    margin-bottom: 16px;
}